
#svg-loading{
  opacity: 0;
  visibility: hidden;
}

.glow-line-container {
  position: relative;
  width: 60%;
  height: 4px;
  margin-top: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.glow-line {
  position: absolute;
  height: 100%;
  width: 20%;
  background: linear-gradient(90deg, transparent, #ffffff, transparent);
  box-shadow: 0 0 12px #ffffff;
  animation: move-glow 2s ease-in-out infinite alternate;
}

@keyframes move-glow {
  0% {
    left: 0%;
  }
  100% {
    left: 80%;
  }
}
